@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backGroundImageStyle {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.transactionHeading {
  width: fit-content;
  background: #06206d;
  border-radius: 30px;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
  color: #fff;
}

.transactionBigText {
  font-size: 60px;
  color: #fff;
  margin: 0 0 15px;
}
.transactionBigText span {
  color: #007bff;
}

/*---- Bounce Animation -----*/

@keyframes bounce {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-30px);
  }
}

/*---- Rotation Animation -----*/

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*---- timer style -----*/

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 170px;
  border-radius: 20px;
  background-color: rgba(1, 53, 126, 0.7);
  position: absolute;
  bottom: 0;
  left: 50px;
  flex-wrap: wrap;
}
.countdown-title {
  font-size: 20px;
  font-family: cursive;
  font-weight: 600;
  color: #ff00c8;
}
.countdown-item {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

.countdown-timers {
  display: flex;
}
.spanDays {
  background-color: rgb(55, 163, 254);
  padding: 10px;
  border-radius: 8px;
}
.spanHours {
  background-color: rgb(71, 219, 167);
  padding: 10px;
  border-radius: 8px;
}
.spanMinutes {
  background-color: rgb(255, 193, 7);
  padding: 10px;
  border-radius: 8px;
}
.spanSeconds {
  background-color: rgb(226, 48, 204);
  padding: 10px;
  border-radius: 8px;
}
